
/*Student Name: Bryan Sevilla
Assignment Name: Lab 4: Image Effects
Date: 3/2/2026
*/
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#17b8b0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}


.container{
    display:flex;
    gap:40px;
}
/* Poster */
.poster{
    width:350px;
    height:520px;
    background:white;
    position:relative;
    overflow:hidden;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
    padding:30px;
}
/* Dark poster */

.dark{
    background:black;
    color:white;
}
.title{
    font-size:48px;
    letter-spacing:5px;
    font-weight:900;
}

.subtitle{
    font-size:14px;
    letter-spacing:2px;
    margin-bottom:20px;
}

.info{
    position:absolute;
    top:40px;
    right:30px;
    text-align:right;
    font-size:14px;
}

.red{
    position:absolute;
    width:100%;
    height:150px;
    background:#ef2b3a;
    bottom:140px;
    left:0;
}

.teal{
    position:absolute;
    width:100%;
    height:150px;
    background:#3fc1bb;
    bottom:0;
    left:0;
}
.circle{
    position:absolute;
    border-radius:50%;
}

.black{
    width:120px;
    height:120px;
    background:#111;
    bottom:120px;
    left:-30px;
}

.red-circle{
    width:120px;
    height:120px;
    background:#ef2b3a;
    bottom:160px;
    left:120px;
}

.footer{
    
    position:absolute;
    bottom:20px;
    right:20px;
    font-weight:bold;
    font-size:20px;
}

